<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="welcome-page">
        <div class="welcome-page-head">
            <h1>d-hunt</h1>
            <a href="/">home</a>
            <p>no css yet</p>
        </div>
        <div class="welcome-page-body">
            <p>dear <span> ademola johson</span> welcome to the hunt. pls follow the instructions and cast your vote for you favorite contestant. help them reach the world and earn the price</p>
            <p>you can also apply from any of the contest as it will be kicking off few weeks after this ongoing contest</p>
        </div>
        <div class="vote">
            <a href="/votePage">vote</a>
            <a href="/ranking">ranking</a>
        </div>
    </div>
</body>
</html>