<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE CALL</title>
</head>
<body>
    <div class="conhome-page">
        <div class="head">
            <%- include('head.ejs') %>
        </div>
        <div class="body"></div>
    </div>
</body>
</html>