<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <div class="login-page">
        <div class="form-wrapper">
            <div class="form-head">
                <h1>sign up</h1>
                <p>hall of fame</p>
            </div>
            <div class="form-body">
                <form action="/login" method="post">
                    <label for="email">email <input type="email" name="email" id="email" placeholder="janedoe@gmail.com"></label>
                    <label for="password">password <input type="password" name="password" id="password" placeholder="*********"></label>
                    <button type="submit">sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>